section{
    background-color: #EBEBEB;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.about_blob{
    position: absolute;
    width: 80vw;
    height: 80vw;
    align-items: center;
    justify-items: center;

    h1{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
}